* {
  font-family: "Nunito", sans-serif;
}

footer {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

/* Containers */

.header-container {
  display: flex;
  width: 100%;
  background-color: #f9f8f8;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.main-container {
  background-color: #f9f8f8;
  border-radius: 0.625rem;
  box-shadow: 0.125rem 0.125rem 0.313rem #e0e0e0;

  margin-top: 3.75rem;
  width: 69.938rem;
  height: 40.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Texts */

.header-link-text {
  color: #000000;
  font-size: 35px;
  text-decoration: none;
}

.title-text {
  font-size: 2.5rem;
  margin: 0.625rem auto;
  text-align: center;
}

.input-text-description {
  font-size: 2.5rem;
  margin: 15px 9px;
}

.input-conversor-text {
  font-size: 1.875rem;
  text-align: center;
}

.builder {
  font-size: 20px;
  text-align: center;
}

.bold-text {
  font-weight: 700;
}

/* Inputs */

.input-element-converter {
  width: 368px;
  height: 52px;

  border: 1px solid #cdcdcd;
  border-radius: 5px;

  text-align: center;
  font-size: 30px;
}

.input-conversor-root {
  width: 20px;
  font-size: 1rem;
}

/* Buttons */

.copy-button {
  width: 56px;
  height: 56px;
  margin: auto 9px;

  border: 1px solid #cdcdcd;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
/* Images */

.icon-image-link {
  width: 30px;
  margin: auto 20px;
}

.swap-image-container {
  position: relative;
  left: 130px;
  top: 30px;
}

.table {
  display: table;
  margin: 0 auto;
}
