* {
  font-family: "Nunito", sans-serif;
}

footer {
  display: flex;
  justify-content: center;
}

/* Containers */

.header-container {
  display: flex;
  width: 100%;
  background-color: #f9f8f8;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.main-container {
  background-color: #f9f8f8;

  margin-top: 3.75rem;
  width: 69.938rem;
  height: 40.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title-text {
  font-size: 2.5rem;
  margin: 0.625rem auto;
  text-align: center;
}

.input-text-description {
  font-size: 2.5rem;
  margin: 15px 9px;
}

.input-conversor-text {
  font-size: 1.875rem;
  text-align: center;
}

.input-conversor-root {
  width: 15px;
  font-size: 1rem;
}

.input-element-converter {
  width: 368px;
  height: 52px;
  border: 1px solid #cdcdcd;
  text-align: center;
  font-size: 30px;
}

.copy-button {
  width: 56px;
  height: 56px;
  margin: auto 9px;
  border: 1px solid #cdcdcd;
  cursor: pointer;
}

.bold-text {
  font-weight: 700;
}

.builder {
  text-align: center;
}
