* {
  font-family: "Nunito", sans-serif;

}

footer {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

/* NavBar styles */

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
  height: 60px;
  background-color: #24252a;
}

.header-logo{
  cursor: pointer;
  width: 90px;
  fill: white;
}

.header-logo:hover{
  transition: all 0.3s linear 0s;
  fill: #0088a9;
}


h1{
  font-size: 50px;
  color: white;

  margin-left: 30px;
  margin-right: auto;
  
  cursor: pointer;
}

.table {
  list-style: none;
}

.table li {
  display: inline-block;
  padding: 20px;
}

.table li a {
  transition: all 0.3s ease 0s;

}

.table li a:hover {
  color: #0088a9;
}

.header-link-text {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.contact-button{
  margin-left: 20px;
  padding: 9px 25px;
  font-size: 30px;
  width: 170px;
  cursor: pointer;

  color: white;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
}

.contact-button:hover {
  transition: all 0.3s ease 0s;
  background-color: rgba(0,136,169,0.8);
}

/* Container flex*/


.flex-container {
  display: flex;
  justify-content: center;
}


/*Main container conversor*/


.main-container {
  background-color: #f9f8f8;
  border-radius: 0.625rem;
  box-shadow: 0.125rem 0.125rem 0.313rem #e0e0e0;

  margin-top: 3.75rem;
  width: 69.938rem;
  height: 40.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swap-image-container {
  position: relative;
  left: 130px;
  top: 30px;
}

.title-text {
  color: #24252a;
  font-size: 2.5rem;
  margin: 0.625rem auto;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.input-text-description {
  color: #24252a;
  font-size: 2.5rem;
  margin: 15px 9px;
}

.input-element-converter {
  width: 368px;
  height: 52px;

  border: 1px solid #cdcdcd;
  border-radius: 5px;

  text-align: center;
  font-size: 30px;

}


.input-element-converter[type=number]::-webkit-inner-spin-button, 
.input-element-converter[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-conversor-root[type=number]::-webkit-inner-spin-button, 
.input-conversor-root[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.input-element-converter:focus {
  outline: none !important;
  transition: all 0.3s ease 0s;
  border: 1px solid #0088a9;
  color: #0088a9;
}



.input-conversor-text {
  color: #24252a;
  font-size: 1.875rem;
  text-align: center;
}

.copy-button {
  width: 56px;
  height: 56px;
  padding: 8px;
  margin: auto 9px;

  border: 1px solid #cdcdcd;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.image-copy{
  fill: #cdcdcd;
  width: 40px;
  height: 40px;
  
}


.input-conversor-root {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  width: 20px;
  font-size: 1rem;
}

.input-conversor-root:focus {
  outline: none !important;
  transition: all 0.3s ease 0s;
  border: 1px solid #0088a9;
  color: #0088a9;

}


.container-image-link{
margin: 0px 25px;
}


.icon-image-link {
  width: 30px;
  fill: #cdcdcd;

}

.icon-image-link:hover {
  transition: all 0.3s ease 0s;
  fill: #0088a9;

}

/* Builder Section */


.builder {

  font-size: 20px;
  text-align: center;
}

.bold-text {
  font-weight: 700;
}



